<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>nyc events</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
</head>

<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1>New York City Events</h1>
        </div>
        {% for event in events %}
        <div class="event">
            <div class="title"><strong>{{event.event_name}}</strong> at {{event.venue_name}}</div>
            <span class="small">{{event.date_time_description}}</span>
            <p>
                {{event.web_description|striptags}}
                <span class="small">&mdash;{{event.critic_name}}</span>
            </p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
