<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>nyc events</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/styles.css">
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
</head>

<body>
<div id="google-map"></div>
<div id="event-info" class="container"></div>
<script src="//maps.googleapis.com/maps/api/js?v=3&key=AIzaSyA2u3D7ZbBQcZuCmeCC6p3qzgMxdhd0lnA"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
var events = {{events|safe}};
</script>
<script src="static/js/app.js"></script>
</body>
</html>
